@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --footer-bg: #394867;
  --navbar-bg: #394867;
  --category: #9ba4b5;
}

html, body {
  background: #f1f6f9;
  font-family: 'Roboto', sans-serif;
}

/* -------------------------------- */
/* ----- Custom Navigationbar ----- */
/* -------------------------------- */
.logo {
  width: 100px;
}

.category {
  background: var(--category);
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.custom-navbar {
  background: var(--navbar-bg);
  color: #fff;
  padding: 20px;
}

.custom-search input[type=text]{
  font-size: 1rem;
  width: 500px;
  height: 25px;
  border-radius: 25px;
  padding: 5px 15px;
  border: none;
}

.custom-search{
  text-align: center;
}
   
.custom-search button{
  background-color: #0074D9;
  color: #fff;
  line-height: 2em;
  padding: 5px 15px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.custom-search button{
  background-color: #0074D9;
  color: #fff;
  line-height: 2em;
  padding: 5px 15px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
} 

.loginBtn {
  background: #0074D9;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  transition: .5s;
}

.loginBtn:hover {
  background: red;
  cursor: pointer;
}

/* ----- Custom Footer ----- */
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: var(--footer-bg);
  color: #fff;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}