@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

:root {
  --footer-bg: #394867;
  --navbar-bg: #394867;
  --category: #9ba4b5;
  --login-color: #000;
  --blue: #0074D9;
}

html, body {
  height: 100%;
  background: #f1f6f9;
  font-family: 'Roboto', sans-serif;
}

::selection {
  background: #fff;
  color: var(--blue);
}

a{
  color: #fff;
}
/* ------------------ */
/* Back to Top Button */
/* ------------------ */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  transition: opacity 0.3s, transform 0.3s;
}

#backToTopBtn:hover {
  background: #fff;
  color: var(--blue);
}

#myBtn:hover {
  background: #fff;
  color: var(--blue);
}

#myBtn.active {
  background: #fff;
  color: var(--blue);
  transform: scale(1.1);
}

/* -------------------------------- */
/* ----- Custom Navigationbar ----- */
/* -------------------------------- */
.logo {
  width: 100px;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.category {
  background: var(--category);
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category h4 {
  margin-right: 35px;
}

.category li {
  display: inline-block;
  margin-right: 40px;
  font-weight: 600;
}

.category li a {
  color: #fff;
  text-decoration: none;
}

.custom-navbar {
  background: var(--navbar-bg);
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.custom-search input[type=text]{
  font-size: 1rem;
  width: 900px;
  height: 25px;
  border-radius: 25px;
  padding: 5px 15px;
  border: none;
}

.custom-search{
  text-align: center;
}
   
.custom-search button{
  background-color: #0074D9;
  color: #fff;
  line-height: 2em;
  padding: 5px 15px;
  margin-right: 16px;
  font-size: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.custom-search button:hover{
  background: #fff;
  color: var(--blue);
}

.icons a {
  margin-right: 20px;
}

/* ------------------------- */
/* ----- Custom Footer ----- */
/* ------------------------- */
.container{
	max-width: 1500px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer{
	background-color: var(--footer-bg);
  color: #fff;
  padding: 60px 50px 30px;
}

.footer-col{
   width: 25%;
   padding: 0;
}

.footer-col h4{
  z-index: 0;
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 900;
	position: relative;
}

.footer-col h4::before{
  z-index: 0;
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background: var(--blue);
	height: 3px;
	box-sizing: border-box;
	width: 100px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #fff;
	padding-left: 8px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #fff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.copyright {
  margin-top: 40px;
  font-size: 1em;
  text-align: center;
  font-weight: 900;
}

/* Contact */
body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
